<mat-toolbar color="primary">
    <span class="spacer"></span>
    <button mat-icon-button class="theme-button" (click)="toggleTheme()">
        <mat-icon class="material-symbols-rounded" #themeIcon>{{getTheme()}}</mat-icon>
    </button>
    <div mat-card-avatar class="toolbar-avatar" [matMenuTriggerFor]="menu" style="cursor: pointer;" #avatar></div>
    <mat-menu #menu>
        <button mat-menu-item routerLink="/user/{{cnoulegAPIService.getUserIdFromJWT()}}">
            <mat-icon class="material-symbols-rounded">person</mat-icon>
            <span>Mio profilo</span>
        </button>
        <button mat-menu-item (click)="cnoulegAPIService.logout(router)">
            <mat-icon class="material-symbols-rounded">logout</mat-icon>
            <span>Esci</span>
        </button>
    </mat-menu>
    <div style="margin: 8px;" #buttons>
        <button mat-flat-button color="primary" style="margin-right: 8px;"
            routerLink="register">{{translator.labels.register[translator.getLanguage()]}}</button>
        <button mat-stroked-button color="primary"
            routerLink="login">{{translator.labels.login[translator.getLanguage()]}}</button>
    </div>
</mat-toolbar>