<div style="padding: 0 1em 0 1em;">
    <app-login-register-header></app-login-register-header>
    <h1 style="text-align: center; font-size: 3em;">{{translator.labels.login[translator.getLanguage()]}}</h1>
    <div style="text-align: center;" id="form">
        <div style="border-radius: 5px; padding: 3em;">
            <mat-form-field appearance="outline" style="width: min(320px, 100%);">
                <mat-label>Email</mat-label>
                <input matInput required #emailRef>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field appearance="outline" style="width: min(320px, 100%);">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" required #passwordRef>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon class="material-symbols-rounded">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <br>
            <div style="text-align: center;">
                <button mat-stroked-button style="margin-right: 8px;" routerLink="/register">Registrati</button>
                <button mat-flat-button (click)="login($event)">Accedi</button>
            </div>
        </div>
    </div>
</div>