<div class="light-theme">
  <router-outlet>
    <app-notes-header></app-notes-header>
    <div id="title">
      <h1>Limite Notevole</h1>
      <p>Di Michele Lorusso • 04/03/2024</p>
      <mat-chip-set class="tags">
        <mat-chip class="tag">Matematica</mat-chip>
        <mat-chip class="tag">Quinto superiore</mat-chip>
      </mat-chip-set>
    </div>
    <mat-card>
      <mat-card-content>
        <markdown mermaid lineNumbers [mermaidOptions]="mermaidOptions" emoji katex clipboard
          [clipboardButtonComponent]="copyComponent" src="assets/limit.md">
        </markdown>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>Immagini</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>Video</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>Documenti</mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <p style="text-align: center;">Valuta questo appunto</p>
    <div id="starRating" style="text-align: center;">
      <button mat-icon-button><mat-icon class="material-symbols-rounded">star</mat-icon></button>
      <button mat-icon-button><mat-icon class="material-symbols-rounded">star</mat-icon></button>
      <button mat-icon-button><mat-icon class="material-symbols-rounded">star</mat-icon></button>
      <button mat-icon-button><mat-icon class="material-symbols-rounded">star</mat-icon></button>
      <button mat-icon-button><mat-icon class="material-symbols-rounded">star</mat-icon></button>
      <h1>4,3/5</h1>
      <div id="users">
        <p><mat-icon class="material-symbols-rounded" style="vertical-align: middle;">person</mat-icon>30.000.000</p>
      </div>
    </div>
    <h3>Commenti • 30.000.000</h3>
    <form action="#">
      <mat-card-header>
        <div mat-card-avatar class="user-comment-avatar"></div>
        <mat-form-field style="width: 100%;">
          <mat-label>Lascia un commento</mat-label>
          <textarea matInput placeholder="Commento..."></textarea>
        </mat-form-field><br>
      </mat-card-header>
      <div class="comment-button">
        <button mat-stroked-button color="primary">Commenta</button>
      </div>
    </form>
    <br>
    <mat-divider></mat-divider>
    <div *ngFor=" let x of [1, 2, 3, 4, 5, 6]">
      <app-comment-card></app-comment-card>
    </div>
  </router-outlet>
</div>