<ngx-spinner bdColor="rgba(0, 0, 0, 0.2)" size="large" color="#fff" type="ball-atom" [fullScreen]="true"></ngx-spinner>
<div style="padding: 0 1em 0 1em;">
    <app-login-register-header></app-login-register-header>
    <br>
    <h1 style="text-align: center;">{{translator.labels.createNote[translator.getLanguage()]}}</h1>
    <mat-form-field appearance="outline" style="width: min(320px, 100%);">
        <mat-label>{{translator.labels.title[translator.getLanguage()]}}</mat-label>
        <input matInput #titleRef maxlength="60" required [formControl]="titleControl" (blur)="updateTitleErrorMessage()">
        @if (titleControl.invalid) {
            <mat-error>
                <mat-icon class="material-symbols-rounded error">error</mat-icon>
                {{titleErrorMessage}}
            </mat-error>
        }
    </mat-form-field>
    <br>
    <label>{{titleRef.value.trim().length}}/{{titleRef.maxLength}}</label>
    <br>
    <br>
    <mat-form-field appearance="outline" style="width: min(228px, 100%); margin-right: 8px;">
        <mat-label>{{this.translator.labels.subject[this.translator.getLanguage()]}}</mat-label>
        <span matPrefix style="margin-right: 4px; margin-left: 8px;"><mat-icon
                class='material-symbols-rounded'>{{translator.getSubjectIcon(subjectValue)}}</mat-icon></span>
        <mat-select #subjectRef value="{{subjectValue}}" (valueChange)="setSubject($event)">
            <mat-option *ngFor="let sub of keys(this.translator.subjects)" value="{{sub}}">
                <mat-icon class='material-symbols-rounded'>{{translator.getSubjectIcon(sub)}}</mat-icon>
                {{this.translator.translateSubject(sub)}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: min(228px, 100%);">
        <mat-label>{{this.translator.labels.school[this.translator.getLanguage()]}}</mat-label>
        <mat-select #schooltRef value="{{schoolValue}}" (valueChange)="setSchool($event)">
            <mat-option *ngFor="let sub of keys(this.translator.schools)" value="{{sub}}">
                {{this.translator.translateClass(sub)}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Tags</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter fruits">
            <mat-chip-row>
                <mat-icon class="material-symbols-rounded" matChipAvatar
                    style="scale: 1.2;">{{translator.getSubjectIcon(subjectRef.value)}}</mat-icon>
                {{this.translator.translateSubject(subjectRef.value)}}
            </mat-chip-row>
            <mat-chip-row>
                {{this.translator.translateClass(schooltRef.value)}}
            </mat-chip-row>
            @for (tag of tags; track tag) {
            <mat-chip-row (removed)="remove(tag)" [editable]="true" (edited)="edit(tag, $event)"
                [aria-description]="'press enter to edit ' + tag">
                {{tag}}
                <button matChipRemove [attr.aria-label]="'remove ' + tag">
                    <mat-icon class='material-symbols-rounded'>cancel</mat-icon>
                </button>
            </mat-chip-row>
            }
            <input placeholder="{{translator.labels.addTag[translator.getLanguage()]}}" [matChipInputFor]="chipGrid" maxlength="25"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)" />
        </mat-chip-grid>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>{{translator.labels.description[translator.getLanguage()]}}</mat-label>
        <textarea matInput maxlength="500" style="resize: none;" required [formControl]="descriptionControl" (blur)="updateDescriptionErrorMessage()"
            oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"' 
            onchange='this.style.height = ""; this.style.height = this.scrollHeight + "px"'
            #descriptionRef></textarea>
        @if (descriptionControl.invalid) {
            <mat-error>
                <mat-icon class="material-symbols-rounded error">error</mat-icon>
                {{descriptionErrorMessage}}
            </mat-error>
        }
    </mat-form-field>
    <br>
    <label>{{descriptionRef.value.trim().length}}/{{descriptionRef.maxLength}}</label>
    <br>
    <br>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Markdown</mat-card-title>
        </mat-card-header>
        <br>
        <div style="width: 100%; display: inline-block; margin-left: 8px;">
            <button mat-icon-button matTooltip="{{translator.labels.title[translator.getLanguage()]}}" [matMenuTriggerFor]="headersMenu"><mat-icon
                    class='material-symbols-rounded'>title</mat-icon></button>
            <mat-menu #headersMenu>
                <button mat-menu-item *ngFor="let i of [0, 1, 2, 3, 4, 5]" (click)="insertInLineStarts('#'.repeat(i + 1) + ' ')">
                    <mat-icon class="material-symbols-rounded">format_h{{i + 1}}</mat-icon>
                    <span>{{translator.labels.title[translator.getLanguage()]}} {{i + 1}}</span>
                </button>
            </mat-menu>

            <button mat-icon-button matTooltip="{{translator.labels.italic[translator.getLanguage()]}}"
                (click)='insertChars("*"); markdownRef.style.height = ""; markdownRef.style.height = markdownRef.scrollHeight + "px"'><mat-icon
                    class='material-symbols-rounded'>format_italic</mat-icon></button>

            <button mat-icon-button matTooltip="{{translator.labels.bold[translator.getLanguage()]}}"
                (click)='insertChars("**"); markdownRef.style.height = ""; markdownRef.style.height = markdownRef.scrollHeight + "px"'><mat-icon
                    class='material-symbols-rounded'>format_bold</mat-icon></button>

            <button mat-icon-button matTooltip="{{translator.labels.strikethrough[translator.getLanguage()]}}"
                (click)='insertChars("~~"); markdownRef.style.height = ""; markdownRef.style.height = markdownRef.scrollHeight + "px"'><mat-icon
                    class='material-symbols-rounded'>format_strikethrough</mat-icon></button>

            <button mat-icon-button matTooltip="{{translator.labels.bulleted_list[translator.getLanguage()]}}" (click)="insertInLineStarts('- ')"><mat-icon
                    class='material-symbols-rounded'>format_list_bulleted</mat-icon></button>

            <button mat-icon-button matTooltip="{{translator.labels.numbered_list[translator.getLanguage()]}}" (click)="insertInLineStarts('1. ')"><mat-icon
                    class='material-symbols-rounded'>format_list_numbered</mat-icon></button>

            <button mat-icon-button matTooltip="{{translator.labels.image[translator.getLanguage()]}}" (click)="insertImage()"><mat-icon
                    class='material-symbols-rounded'>image</mat-icon></button>

            <button mat-icon-button matTooltip="Link" (click)="insertLink()"><mat-icon
                    class='material-symbols-rounded'>link</mat-icon></button>

            <button mat-icon-button matTooltip="{{translator.labels.quotation[translator.getLanguage()]}}" (click)="insertInLineStarts('> ')"><mat-icon
                    class='material-symbols-rounded'>format_quote</mat-icon></button>

            <button mat-icon-button matTooltip="{{translator.labels.inline_code[translator.getLanguage()]}}" (click)='insertChars("`");'><mat-icon
                    class='material-symbols-rounded'>code</mat-icon></button>

            <button mat-icon-button matTooltip="{{translator.labels.code_block[translator.getLanguage()]}}" [matMenuTriggerFor]="languagesMenu"><mat-icon
                    class='material-symbols-rounded'>code_blocks</mat-icon></button>
            <mat-menu #languagesMenu>
                <button mat-menu-item *ngFor="let lang of languages" (click)="insertCodeBlock(lang);">
                    <span>{{lang}}</span>
                </button>
            </mat-menu>

            <button mat-icon-button matTooltip="{{translator.labels.table[translator.getLanguage()]}}" (click)="insertTable()"><mat-icon
                    class='material-symbols-rounded'>table</mat-icon></button>

            <button mat-icon-button matTooltip="{{translator.labels.horizontal_line[translator.getLanguage()]}}"
                (click)='insertHorizontalLine(); markdownRef.style.height = ""; markdownRef.style.height = markdownRef.scrollHeight + "px"'><mat-icon
                    class='material-symbols-rounded'>horizontal_rule</mat-icon></button>
            
            <button mat-icon-button matTooltip="LaTeX" (click)="insertLatex()"><mat-icon
                    class='material-symbols-rounded'>function</mat-icon></button>
        </div>
        <br>
        <mat-card-content>
            <mat-form-field appearance="outline" style="width: 100%;">
                <textarea matInput style="resize: none;" rows="10" 
                    (pointerup)="selectionChange($event)" (pointercancel)="selectionChange($event)" (pointerup)="selectionChange($event);"
                    (click)="selectionChange($event); setCursorPosition($event)" (keyup)="setCursorPosition($event); selectionChange($event)" (touchend)="setCursorPosition($event); log()"
                    (blur)="checkMinMarkdownChars(); updateMarkdownErrorMessage()" [formControl]="markdownControl" required
                    oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"' 
                    onchange='this.style.height = ""; this.style.height = this.scrollHeight + "px"'
                    #markdownRef></textarea>
                @if (markdownControl.invalid) {
                    <mat-error>
                        <mat-icon class="material-symbols-rounded error">error</mat-icon>
                        {{markdownErrorMessage}}
                    </mat-error>
                }
            </mat-form-field>
            <br>
            <label>{{markdownRef.value.trim().length}}</label>
            <markdown mermaid lineNumbers [mermaidOptions]="mermaidOptions" emoji katex clipboard 
                [disableSanitizer]="false" [clipboardButtonComponent]="copyComponent" [data]="markdownRef.value ? markdownRef.value : ''"
                class="md">
            </markdown>
        </mat-card-content>
    </mat-card>
    <br>
    <div *ngIf="!(parameters && parameters['id'])">
        <mat-card>
            <div class="imagesList">
                <mat-card-content>{{translator.labels.images[translator.getLanguage()]}}</mat-card-content>
                <div class="scroll-container" style="overflow: auto">
                    <div *ngFor="let item of loadedImages; index as i">
                        <img [src]="item.link" alt="img" class="content-icon" style="width: 128px; height: 128px; overflow: hidden; object-fit: cover; border-radius: 15px; -webkit-user-drag: none;">
                        <button mat-mini-fab color="warn" style="position: absolute; transform: translate(-18px, -12px);" (click)="deleteImage(i)">
                            <mat-icon class="material-symbols-rounded">close</mat-icon>
                        </button>
                        <mat-card-subtitle style="text-align: center; max-width: 128px; overflow: hidden;">{{item.file.name| truncate}}</mat-card-subtitle>
                    </div>
                    <div class="{{loadedImages.length > 0 ? 'imageAddButton' : ''}}" *ngIf="loadedImages.length < 10" (click)="imageInput.click()">
                        <img src="../../assets/notes-placeholder/add.svg" alt="img" width="128" height="128" class="add-icon" style="overflow: hidden; object-fit: none; border-radius: 15px; -webkit-user-drag: none;">
                        <input type="file" style="display: none;" accept="image/*" (click)="imageInput.value = ''" (change)="onChangeImage($event)" #imageInput>
                    </div>
                </div>
            </div>
        </mat-card>
        <br>
        <mat-card>
            <div class="videosList">
                <mat-card-content>{{translator.labels.videos[translator.getLanguage()]}}</mat-card-content>
                <div class="scroll-container" style="overflow: auto">
                    <div *ngFor="let item of loadedVideos; index as i">
                        <img src="assets/notes-placeholder/video.svg" alt="img" width="128" height="128" class="content-icon" style="overflow: hidden; object-fit: none; border-radius: 15px; -webkit-user-drag: none;">
                        <button mat-mini-fab color="warn" style="position: absolute; transform: translate(-18px, -12px);" (click)="deleteVideo(i)">
                            <mat-icon class="material-symbols-rounded">close</mat-icon>
                        </button>
                        <mat-card-subtitle style="text-align: center; max-width: 128px; overflow: hidden;">{{item.name| truncate}}</mat-card-subtitle>
                    </div>
                    <div class="{{loadedVideos.length > 0 ? 'videoAddButton' : ''}}" *ngIf="loadedVideos.length < 5" (click)="videoInput.click()">
                        <img src="../../assets/notes-placeholder/add.svg" alt="img" width="128" height="128" class="add-icon" style="overflow: hidden; object-fit: none; border-radius: 15px; -webkit-user-drag: none;">
                        <input type="file" style="display: none;" accept="video/*" (click)="videoInput.value = ''" (change)="onChangeVideo($event)" #videoInput>
                    </div>
                </div>
            </div>
        </mat-card>
        <br>
        <mat-card>
            <div>
                <mat-card-content>{{translator.labels.documents[translator.getLanguage()]}}</mat-card-content>
                <div class="scroll-container" style="overflow: auto">
                    <div *ngFor="let item of loadedDocuments; index as i">
                        <a [href]="'https://google.com'">
                            <img src="assets/notes-placeholder/file.svg" alt="img" class="content-icon"
                                style="width: 128px; height: 128px; overflow: hidden; object-fit: none; border-radius: 15px; -webkit-user-drag: none;">
                        </a>
                        <button mat-mini-fab color="warn" style="position: absolute; transform: translate(-18px, -12px);" (click)="deleteDocument(i)">
                            <mat-icon class="material-symbols-rounded">close</mat-icon>
                        </button>
                        <mat-card-subtitle style="text-align: center; max-width: 128px; overflow: hidden;">{{item.name| truncate}}</mat-card-subtitle>
                    </div>
                    <div class="{{loadedDocuments.length > 0 ? 'documentAddButton' : ''}}" *ngIf="loadedDocuments.length < 5" (click)="documentInput.click()">
                        <img src="../../assets/notes-placeholder/add.svg" alt="img" width="128" height="128" class="add-icon" style="overflow: hidden; object-fit: none; border-radius: 15px; -webkit-user-drag: none;">
                        <input type="file" style="display: none;" accept="*/*" (click)="documentInput.value = ''" (change)="onChangeDocument($event)" #documentInput>
                    </div>
                </div>
            </div>
        </mat-card>
        <br>
    </div>
</div>
<div style="width: 100%; height: 100%; min-width: 100%; min-height: 100%;" #uploadButton>
    <button style="position: fixed; bottom: 32px; right: 32px;" mat-fab extended color="primary" (click)="uploadNote();">
        <mat-icon class="material-symbols-rounded">upload</mat-icon>
        {{(parameters && parameters['id']) ? translator.labels.update[translator.getLanguage()] : translator.labels.publish[translator.getLanguage()]}}
    </button>
</div>