markdown::ng-deep th {
    border-collapse: collapse;
    padding: 0.5rem;
    word-wrap: break-word;
    white-space: normal;
}

markdown::ng-deep td {
    border-collapse: collapse;
    padding: 0.5rem;
    word-wrap: break-word;
    white-space: normal;
}

markdown::ng-deep table {
    border-collapse: collapse;
    padding: 0.5rem;
    white-space: nowrap;
    margin: auto;
    width: 100%;
    table-layout: fixed;
}

markdown::ng-deep img {
    display: block;
    width: min(100%, 512px);
    margin: auto;
    border-radius: 10px;
}

.scroll-container {
    display: flex;
    align-items: center;
    overflow: hidden;

    &.hide-scrollbar {
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &.show-scroll {
        overflow: auto;
    }

    div {
        white-space: nowrap;
        margin: .1rem;
        padding: 1em;
        transition: box-shadow 0.3s;

        &:hover {
            cursor: pointer;
        }
    }
}

.imageAddButton, .videoAddButton, .documentAddButton {
    transform: translateY(-12px);
}