<mat-card class="comment-card">
    <mat-card-header>
        <div mat-card-avatar class="comment-avatar _{{data.user_id}}" [routerLink]="'/user/' + data.user_id"></div>
        <mat-card-title [routerLink]="'/user/' + data.user_id" style="cursor: pointer;">{{data.author_name}}</mat-card-title>
        <mat-card-subtitle>{{data.date| date:"dd/MM/YYYY"}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{data.text}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button (click)="setCommentLike(1)"><mat-icon class="material-symbols-rounded {{(data.user_like && data.user_like > 0 ? 'filled' : '')}}">thumb_up</mat-icon></button>
        <p style="width: 32px; text-align: center;" #likeLabel>{{data.likes| numberSuffix}}</p>
        <button mat-icon-button (click)="setCommentLike(-1)"><mat-icon class="material-symbols-rounded {{(data.user_like && data.user_like < 0 ? 'filled' : '')}}">thumb_down</mat-icon></button>
        <button mat-button color="primary"
            (click)="toggleAnswerPanel($event)">{{translator.labels.answer[translator.getLanguage()]}}</button>
    </mat-card-actions>
    <mat-accordion>
        <mat-expansion-panel [expanded]="panelOpenStateAnswer" style="box-shadow: none;">
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="user-comment-avatar subcomment_avatar"></div>
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>{{translator.labels.answerTheComment[translator.getLanguage()]}}</mat-label>
                        <textarea matInput placeholder="Commento..." class="answer" style="resize: none;"
                            maxlength="500" #subcommentContent
                            oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
                    </mat-form-field>
                    <br>
                </mat-card-header>
                <div class="comment-button">
                    <label style="margin-right: 8px;">{{subcommentContent.value.length}}/{{subcommentContent.maxLength}}</label>
                    <button mat-stroked-button color="primary"
                        (click)="answer($event)">{{translator.labels.answer[translator.getLanguage()]}}</button>
                    <button mat-stroked-button color="warn" (click)="toggleAnswerPanel($event)"
                        style="margin-left: 0.5em;">{{translator.labels.cancel[translator.getLanguage()]}}</button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            [expanded]="panelOpenState" style="box-shadow: none;" *ngIf="subcommentsInfo.length > 0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{subcommentsInfo.length}} {{subcommentsInfo.length != 1 ?
                    translator.labels.answerPlural[translator.getLanguage()] :
                    translator.labels.answerSingular[translator.getLanguage()]}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card class="subcomment-card" *ngFor="let subcomment of subcommentsInfo; index as i"
                style="box-shadow: none !important; border-left: 1px solid darkgray; border-radius: 0; padding-left: 1em;">
                <mat-card-header>
                    <div mat-card-avatar class="comment-avatar _{{subcomment.user_id}}" [routerLink]="'/user/' + subcomment.user_id"></div>
                    <mat-card-title [routerLink]="'/user/' + subcomment.user_id" style="cursor: pointer;">{{subcomment.author_name}}</mat-card-title>
                    <mat-card-subtitle>{{subcomment.date| date:"dd/MM/YYYY"}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="content">
                    <p>
                        {{subcomment.text}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-icon-button (click)="setSubcommentLike(1, i)"><mat-icon class="material-symbols-rounded {{(subcomment.user_like && subcomment.user_like > 0 ? 'filled' : '')}}">thumb_up</mat-icon></button>
                    <p style="width: 32px; text-align: center;">{{subcomment.likes| numberSuffix}}</p>
                    <button mat-icon-button (click)="setSubcommentLike(-1, i)"><mat-icon class="material-symbols-rounded {{(subcomment.user_like && subcomment.user_like < 0 ? 'filled' : '')}}">thumb_down</mat-icon></button>
                </mat-card-actions>
            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>