.subcomment-card {
    margin-left: 5%;
}

.comment-avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card {
    margin-bottom: 1em;
    margin-top: 1em;
}