.subcomment-card {
    margin-left: 5%;
}

.comment-avatar {
    background-image: url('../../assets/default.svg');
    background-size: cover;
    cursor: pointer;
}

.user-comment-avatar {
    background-image: url('../../assets/default.svg');
    background-size: cover;
    margin-right: 16px;
}

mat-card {
    margin-bottom: 1em;
    margin-top: 1em;
}

.comment-button {
    width: calc(100% - 16px);
    text-align: right;
}