<mat-card class="comment-card">
    <mat-card-header>
        <div mat-card-avatar class="comment-avatar _{{data.user_id}}"></div>
        <mat-card-title>{{data.author_name}}</mat-card-title>
        <mat-card-subtitle>{{data.date| date:"dd/MM/YYYY"}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{data.text}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button><mat-icon class="material-symbols-rounded">thumb_up</mat-icon></button>
        <p style="width: 32px; text-align: center;">{{data.likes| numberSuffix}}</p>
        <button mat-icon-button><mat-icon class="material-symbols-rounded">thumb_down</mat-icon></button>
        <button mat-button color="primary"
            (click)="toggleAnswerPanel($event)">{{translator.labels.answer[translator.getLanguage()]}}</button>
    </mat-card-actions>
    <mat-accordion>
        <mat-expansion-panel [expanded]="panelOpenStateAnswer" style="box-shadow: none;">
            <form action="#">
                <mat-card-header>
                    <div mat-card-avatar class="user-comment-avatar"></div>
                    <mat-form-field style="width: 100%;">
                        <mat-label>{{translator.labels.answerTheComment[translator.getLanguage()]}}</mat-label>
                        <textarea matInput placeholder="Commento..." class="answer"></textarea>
                    </mat-form-field><br>
                </mat-card-header>
                <div class="comment-button">
                    <button mat-stroked-button color="primary"
                        (click)="answer($event)">{{translator.labels.answer[translator.getLanguage()]}}</button>
                    <button mat-stroked-button color="warn" (click)="toggleAnswerPanel($event)"
                        style="margin-left: 0.5em;">{{translator.labels.cancel[translator.getLanguage()]}}</button>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            [expanded]="panelOpenState" style="box-shadow: none;" *ngIf="subcommentsInfo.length > 0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{subcommentsInfo.length}} {{subcommentsInfo.length != 1 ?
                    translator.labels.answerPlural[translator.getLanguage()] :
                    translator.labels.answerSingular[translator.getLanguage()]}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card class="subcomment-card" *ngFor="let subcomment of subcommentsInfo"
                style="box-shadow: none !important; border-left: 1px solid darkgray; border-radius: 0; padding-left: 1em;">
                <mat-card-header>
                    <div mat-card-avatar class="comment-avatar _{{subcomment.user_id}}"></div>
                    <mat-card-title>{{subcomment.author_name}}</mat-card-title>
                    <mat-card-subtitle>{{subcomment.date| date:"dd/MM/YYYY"}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="content">
                    <p>
                        {{subcomment.text}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-icon-button><mat-icon class="material-symbols-rounded">thumb_up</mat-icon></button>
                    <p>{{subcomment.likes| numberSuffix}}</p>
                    <button mat-icon-button><mat-icon class="material-symbols-rounded">thumb_down</mat-icon></button>
                </mat-card-actions>
            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>