<div style="text-align: center;">
    <mat-dialog-content style="width: 100%;">
        <table>
            <tr>
                <td>{{translator.labels.rating[translator.getLanguage()]}}</td>
                <td>
                    <button mat-stroked-button style="margin: 4px;" (click)="setRatingFilter(1)" *ngIf="data.rating !== 1">1</button>
                    <button mat-flat-button style="margin: 4px;" (click)="setRatingFilter(1)" *ngIf="data.rating === 1">1</button>
                    
                    <button mat-stroked-button style="margin: 4px;" (click)="setRatingFilter(2)" *ngIf="data.rating !== 2">2</button>
                    <button mat-flat-button style="margin: 4px;" (click)="setRatingFilter(2)" *ngIf="data.rating === 2">2</button>

                    <button mat-stroked-button style="margin: 4px;" (click)="setRatingFilter(3)" *ngIf="data.rating !== 3">3</button>
                    <button mat-flat-button style="margin: 4px;" (click)="setRatingFilter(3)" *ngIf="data.rating === 3">3</button>

                    <button mat-stroked-button style="margin: 4px;" (click)="setRatingFilter(4)" *ngIf="data.rating !== 4">4</button>
                    <button mat-flat-button style="margin: 4px;" (click)="setRatingFilter(4)" *ngIf="data.rating === 4">4</button>

                    <button mat-stroked-button style="margin: 4px;" (click)="setRatingFilter(5)" *ngIf=" data.rating !== 5">5</button>
                    <button mat-flat-button style="margin: 4px;" (click)="setRatingFilter(5)" *ngIf="data.rating === 5">5</button>
                </td>
            </tr>
            <tr>
                <td>Tags</td>
                <td>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Tags</mat-label>
                        <mat-chip-grid #chipGrid>
                            @for (tag of tags; track tag) {
                            <mat-chip-row (removed)="remove(tag)" (edited)="edit(tag, $event)"
                                [aria-description]="'press enter to edit ' + tag">
                                {{tag}}
                                <button matChipRemove [attr.aria-label]="'remove ' + tag">
                                    <mat-icon class='material-symbols-rounded'>cancel</mat-icon>
                                </button>
                            </mat-chip-row>
                            }
                            <input placeholder="{{translator.labels.addTag[translator.getLanguage()]}}" [matChipInputFor]="chipGrid" maxlength="25"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)" />
                        </mat-chip-grid>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>{{translator.labels.subject[translator.getLanguage()]}}</td>
                <td>
                    <mat-form-field appearance="outline" style="width: min(228px, 100%); margin-right: 8px;">
                        <mat-label>{{this.translator.labels.subject[this.translator.getLanguage()]}}</mat-label>
                        <span matPrefix style="margin-right: 4px; margin-left: 8px;"><mat-icon
                                class='material-symbols-rounded'>{{subjectValue === 'all' ? 'more_horiz' : translator.getSubjectIcon(subjectValue)}}</mat-icon></span>
                        <mat-select #subjectRef value="{{subjectValue}}" (valueChange)="setSubject($event)">
                            <mat-option *ngFor="let sub of keys(this.translator.subjects)" value="{{sub}}">
                                <mat-icon class='material-symbols-rounded'>{{translator.getSubjectIcon(sub)}}</mat-icon>
                                {{this.translator.translateSubject(sub)}}
                            </mat-option>
                            <mat-option value="all">
                                <mat-icon class='material-symbols-rounded'>more_horiz</mat-icon>
                                {{this.translator.labels.all[translator.getLanguage()]}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>{{translator.labels.school[translator.getLanguage()]}}</td>
                <td>
                    <mat-form-field appearance="outline" style="width: min(228px, 100%);">
                        <mat-label>{{this.translator.labels.school[this.translator.getLanguage()]}}</mat-label>
                        <mat-select #schooltRef value="{{schoolValue}}" (valueChange)="setSchool($event)">
                            <mat-option *ngFor="let sub of keys(this.translator.schools)" value="{{sub}}">
                                {{this.translator.translateClass(sub)}}
                            </mat-option>
                            <mat-option value="all">{{this.translator.labels.all[translator.getLanguage()]}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </mat-dialog-content>
</div>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{translator.labels.cancel[translator.getLanguage()]}}</button>
    <button mat-button (click)="resetFilters()">{{translator.labels.clear[translator.getLanguage()]}}</button>
    <button mat-flat-button [mat-dialog-close]="data"
        cdkFocusInitial>{{translator.labels.apply[translator.getLanguage()]}}</button>
</mat-dialog-actions>