<ngx-spinner bdColor="rgba(0, 0, 0, 0.2)" size="large" color="#fff" type="ball-atom" [fullScreen]="true"></ngx-spinner>
<mat-toolbar color="primary" *ngIf="!showCropper">
    <button mat-icon-button class="back-button" (click)="back()">
        <mat-icon class="material-symbols-rounded">arrow_back</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button style="vertical-align: middle;" *ngIf="isCurrentUser && !isEditMode"
        (click)="toggleEdit()">
        <mat-icon class="material-symbols-rounded">edit</mat-icon>
    </button>
    <button mat-icon-button style="vertical-align: middle;" *ngIf="isCurrentUser && isEditMode"
        (click)="revertChanges()">
        <mat-icon class="material-symbols-rounded">close</mat-icon>
    </button>
    <button mat-icon-button style="vertical-align: middle;" *ngIf="isCurrentUser && isEditMode"
        (click)="applyChanges()">
        <mat-icon class="material-symbols-rounded">done</mat-icon>
    </button>
    <button mat-icon-button class="share-button" (click)="copyUrlToClipboard()">
        <mat-icon class="material-symbols-rounded">share</mat-icon>
    </button>
    <button mat-icon-button class="theme-button" (click)="toggleTheme()">
        <mat-icon class="material-symbols-rounded" #themeIcon>{{getTheme()}}</mat-icon>
    </button>
</mat-toolbar>
<div style="padding: 0 1em 0 1em;" [hidden]="showCropper">
    <br>
    <div id="header" style="width: 100%;">
        <div style="text-align: center;">
            <img [src]="(croppedImage && croppedSaved) ? croppedImage : currentAvatarUrl" alt="profile" id="avatar"
            #avatar onerror="this.onerror=null;this.src='../../assets/default.svg'">
            <button mat-mini-fab style="position: absolute; transform: translate(-40px, 88px);" *ngIf="isEditMode" [matMenuTriggerFor]="avatarMenu">
                <mat-icon class="material-symbols-rounded">photo_camera</mat-icon>
            </button>
            <mat-menu #avatarMenu>
                <button mat-menu-item (click)="avatarInput.click()">
                    <mat-icon class="material-symbols-rounded">upload_file</mat-icon>
                    <span>{{translator.labels.loadImage[translator.getLanguage()]}}</span>
                </button>
                <button mat-menu-item (click)="currentAvatarUrl = defaultAvatarUrl">
                    <mat-icon class="material-symbols-rounded">delete</mat-icon>
                    <span>{{translator.labels.deleteImage[translator.getLanguage()]}}</span>
                </button>
            </mat-menu>
            <input type="file" style="display: none;" accept="image/*" (click)="avatarInput.value = ''"
                (change)="fileChangeEvent($event)" #avatarInput>
        </div>
        <div style="width: 100%; text-align: center;">
            <h1 style="vertical-align: middle; font-size: min(5vw, 1.5em);" *ngIf="!isEditMode">
                {{userInfo?.username}}</h1>
        </div>
        <div *ngIf="isEditMode" style="width: 100%; text-align: center;">
            <br>
            <mat-form-field appearance="outline" style="width: min(320px, 100%);">
                <mat-label>Username</mat-label>
                <input matInput maxlength="30" [value]="userInfo?.username" required #usernameRef>
            </mat-form-field>
        </div>
    </div>
    <mat-card>
        <div *ngIf="userInfo?.bio?.trim()!.length > 0 && !isEditMode">
            <mat-card-header>
                <mat-card-title>Bio</mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content>
                {{userInfo?.bio}}
            </mat-card-content>
            <br>
        </div>
        <div *ngIf="isEditMode">
            <mat-card-header>
                <mat-card-title>Bio</mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Bio</mat-label>
                    <textarea matInput rows="5" maxlength="300" style="resize: none;" [value]="userInfo?.bio"
                        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                        #bioRef></textarea>
                </mat-form-field>
                <br>
                <label>{{bioRef.value.trim().length}}/{{bioRef.maxLength}}</label>
            </mat-card-content>
        </div>
        <mat-card-header>
            <mat-card-title>{{translator.labels.personalInfos[translator.getLanguage()]}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <div *ngIf="!isEditMode" style="margin-bottom: 16px;">
                <mat-icon class="material-symbols-rounded icon">cake</mat-icon>
                {{translator.labels.birthDate[translator.getLanguage()]}}: {{userInfo?.birthdate | date:"dd/MM/YYYY"}}
            </div>
            <div [hidden]="!isEditMode">
                <mat-icon class="material-symbols-rounded icon">cake</mat-icon>
                {{translator.labels.birthDate[translator.getLanguage()]}}:
                <mat-form-field appearance="outline" style="width: min(256px, 100%); margin-top: 16px;">
                    <mat-label
                        [for]="datepicker">{{this.translator.labels.birthDate[this.translator.getLanguage()]}}</mat-label>
                    <input matInput [matDatepicker]="datepicker" readonly required #birthRef (click)="datepicker.open()"
                        [value]="userInfo?.birthdate">
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker (closed)="datepicker.restoreFocus"></mat-datepicker>
                </mat-form-field>
            </div>
            <div *ngIf="!isEditMode">
                @if(userInfo?.role?.trim()!.length > 0 && userInfo?.role !== 'other') {
                    @if(userInfo?.role === 'teacher') {
                        @if (userInfo?.subject?.trim()!.length > 0 && userInfo?.school?.trim()!.length > 0) {
                            <mat-icon class="material-symbols-rounded icon">school</mat-icon>
                            {{translator.labels.teaches[translator.getLanguage()]}} {{userInfo?.subject}} {{translator.labels.at[translator.getLanguage()]}} {{userInfo?.school}}
                        }@else if (userInfo?.subject?.trim()!.length > 0 && userInfo?.school?.trim()!.length <= 0) {
                            <mat-icon class="material-symbols-rounded icon">school</mat-icon>
                            {{translator.labels.teaches[translator.getLanguage()]}} {{userInfo?.subject}}
                        }@else if (userInfo?.subject?.trim()!.length <= 0 && userInfo?.school?.trim()!.length > 0) {
                            <mat-icon class="material-symbols-rounded icon">school</mat-icon>
                            {{translator.labels.teachesAt[translator.getLanguage()]}} {{userInfo?.school}}
                        }
                    }
                    @if (userInfo?.role === 'student') {
                        @if (userInfo?.subject?.trim()!.length > 0 && userInfo?.school?.trim()!.length > 0) {
                            <mat-icon class="material-symbols-rounded icon">school</mat-icon>
                            {{translator.labels.studies[translator.getLanguage()]}} {{userInfo?.subject}} {{translator.labels.at[translator.getLanguage()]}} {{userInfo?.school}}
                        }@else if (userInfo?.subject?.trim()!.length > 0 && userInfo?.school?.trim()!.length <= 0) {
                            <mat-icon class="material-symbols-rounded icon">school</mat-icon>
                            {{translator.labels.studies[translator.getLanguage()]}} {{userInfo?.subject}}
                        }@else if (userInfo?.subject?.trim()!.length <= 0 && userInfo?.school?.trim()!.length > 0) {
                            <mat-icon class="material-symbols-rounded icon">school</mat-icon>
                            {{translator.labels.studiesAt[translator.getLanguage()]}} {{userInfo?.school}}
                        }
                    }
                }
            </div>
            <div *ngIf="isEditMode">
                <br>
                <mat-icon class="material-symbols-rounded icon">school</mat-icon>
                {{translator.labels.personalInfos[translator.getLanguage()]}}
                <br>
                <br>
                <mat-form-field appearance="outline" style="width: min(256px, 100%);">
                    <mat-label>{{this.translator.labels.role[this.translator.getLanguage()]}}</mat-label>
                    <mat-select #roleRef (valueChange)="setRole($event)" [value]="userInfo?.role">
                        <mat-option
                            value="teacher">{{this.translator.labels.teacher[this.translator.getLanguage()]}}</mat-option>
                        <mat-option
                            value="student">{{this.translator.labels.student[this.translator.getLanguage()]}}</mat-option>
                        <mat-option
                            value="other">{{this.translator.labels.other[this.translator.getLanguage()]}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <br>
                <mat-form-field appearance="outline" style="width: min(256px, 100%);">
                    <mat-label>{{this.translator.labels.subject[this.translator.getLanguage()]}}</mat-label>
                    <input matInput #subjectRef maxlength="40" [value]="userInfo?.subject">
                </mat-form-field>
                <br>
                <label>{{subjectRef.value.trim().length}}/{{subjectRef.maxLength}}</label>
                <br>
                <br>
                <mat-form-field appearance="outline" style="width: min(256px, 100%);">
                    <mat-label>{{this.translator.labels.school[this.translator.getLanguage()]}}</mat-label>
                    <input matInput #schoolRef maxlength="40" [value]="userInfo?.school">
                </mat-form-field>
                <br>
                <label>{{schoolRef.value.trim().length}}/{{schoolRef.maxLength}}</label>
            </div>
        </mat-card-content>
    </mat-card>
    <div [hidden]="isEditMode">
        <br>
        <h3 style="margin-left: 1em;">{{translator.labels.notes[translator.getLanguage()]}} • {{noteInfo.length}}</h3>
        <div *ngFor="let note of noteInfo">
            <mat-card class="hover">
                <mat-card-header [routerLink]="'/note/' + note._id">
                    <mat-card-title>{{note.title}}</mat-card-title>
                    <div mat-card-avatar [class]="'comment-avatar _' + note.author_id" 
                        style="background-image: url('{{(croppedImage && croppedSaved) ? croppedImage : currentAvatarUrl}}'); background-size: cover;" 
                        onerror="this.onerror=null;this.src='../../assets/default.svg'"></div>
                    <mat-card-subtitle style="opacity: 90%;">{{translator.labels.by[translator.getLanguage()]}} {{userInfo?.username}} •
                        {{note.data_last_modified|
                        date:"dd/MM/YYYY"}}</mat-card-subtitle>
                </mat-card-header>
                <div style="z-index: 10; position: absolute; right: 8px; top: 8px;">
                    <button mat-icon-button [matMenuTriggerFor]="noteMenu" *ngIf="isCurrentUser" (click)="$event.preventDefault()">
                        <mat-icon class="material-symbols-rounded">more_vert</mat-icon>
                    </button>
                    <mat-menu #noteMenu>
                        <button mat-menu-item routerLink="/editor/{{note._id}}">
                            <mat-icon class="material-symbols-rounded">edit</mat-icon>
                            <span>{{translator.labels.edit[translator.getLanguage()]}}</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon class="material-symbols-rounded">delete</mat-icon>
                            <span>{{translator.labels.delete[translator.getLanguage()]}}</span>
                        </button>
                    </mat-menu>
                </div>
                <mat-card-content [routerLink]="'/note/' + note._id" [class]="'_id' + note._id">
                    <mat-chip-set class="tags">
                        <mat-chip class="tag">
                            <mat-icon class="material-symbols-rounded filled star-icon" matChipAvatar>star</mat-icon>
                                {{note.avg_rating}}
                        </mat-chip>
                        <mat-chip class="tag">{{translator.translateSubject(note.subject)}}</mat-chip>
                        <mat-chip class="tag">{{translator.translateClass(note.class)}}</mat-chip>
                    </mat-chip-set>
                    <p>{{ note.description }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <br>
</div>

<div [hidden]="!showCropper">
    <mat-toolbar color="primary">
        <button mat-icon-button class="back-button" (click)="showCropper = !showCropper" style="z-index: 10;">
            <mat-icon class="material-symbols-rounded">arrow_back</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-icon-button style="vertical-align: middle;" (click)="rotateLeft()" style="z-index: 10;">
            <mat-icon class="material-symbols-rounded">rotate_left</mat-icon>
        </button>
        <button mat-icon-button style="vertical-align: middle;" (click)="rotateRight()" style="z-index: 10;">
            <mat-icon class="material-symbols-rounded">rotate_right</mat-icon>
        </button>
        <button mat-button style="z-index: 10;" (click)="uploadImage()">{{translator.labels.load[translator.getLanguage()]}}</button>
    </mat-toolbar>
    <image-cropper [imageChangedEvent]="imageChangedEvent" [imageURL]="imageURL" [maintainAspectRatio]="true"
        [containWithinAspectRatio]="true" [aspectRatio]="aspectRatio" [cropperMinWidth]="128" [resizeToWidth]="256"
        [resizeToHeight]="256" [onlyScaleDown]="false" [roundCropper]="true" [canvasRotation]="canvasRotation"
        [(transform)]="transform" [alignImage]="'center'" imageAltText="Alternative image text" output="blob"
        format="jpeg" backgroundColor="#1a1b1f" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady($event)" (loadImageFailed)="loadImageFailed()"
        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 0 !important; z-index: 1;">
    </image-cropper>
</div>