#avatar {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    vertical-align: middle;
}

#header {
    width: 100%;
    height: 8em;
    display: inline;
}

.icon {
    scale: 1.2;
    margin-right: 8px;
    transform: translateY(5px);
}

.spacer {
    flex: 1 1 auto;
}

mat-card {
    color: inherit;
    margin: 1em;
    cursor: pointer;
}

:host ::ng-deep .mat-mdc-chip-graphic {
    padding-right: 0 !important;
}