
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$CnouLeg-Client-primary: mat.define-palette(mat.$indigo-palette);
$CnouLeg-Client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$CnouLeg-Client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$CnouLeg-Client-theme: mat.define-light-theme((
  color: (
    primary: $CnouLeg-Client-primary,
    accent: $CnouLeg-Client-accent,
    warn: $CnouLeg-Client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($CnouLeg-Client-theme);

* {
    font-family: "Varela Round", sans-serif !important;
}

html,
body {
    height: 100%;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
}
