@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@include mat.core();

$light-theme: matx.define-theme((
  color: (
    theme-type: light,
    primary: matx.$m3-azure-palette
  ),
  density: (
    scale: -1
  )
));

$dark-theme: matx.define-theme((
  color: (
    theme-type: dark,
    primary: matx.$m3-azure-palette
  ),
  density: (
    scale: -1
  )
));

.light-theme {
  @include mat.all-component-themes($light-theme);
  @include matx.color-variants-back-compat($light-theme);
  
}
.dark-theme {
  @include mat.all-component-themes($dark-theme);
  @include matx.color-variants-back-compat($dark-theme);
  
}

html,
body {
  height: 100%;
}

body.light-theme { 
  margin: 0; 
  padding: 1em;
  font-family: "Varela Round";
  background-color: #fdfbff;
  color: #1a1b1f;

  mat-card {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 
                0 1px 1px 0 rgba(0,0,0,0.2), 
                0 1px 3px 0 rgba(0,0,0,0.2) !important;
  }
}

body.dark-theme {
  margin: 0; 
  padding: 1em;
  font-family: "Varela Round";
  background-color: #1a1b1f;
  color: #fdfbff;

  mat-card {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
                0 1px 1px 0 rgba(0,0,0,1), 
                0 1px 3px 0 rgba(0,0,0,1) !important;
  }
}

body.light-theme img {
  filter: brightness(100%);
}

body.dark-theme img {
  filter: brightness(90%);
}