a {
    text-decoration: none;
    color: inherit;
    margin: 1em;
}

.comment-avatar {
    background-image: url('../../assets/default.svg');
    background-size: cover;
}

:host ::ng-deep .mat-mdc-chip-graphic {
    padding-right: 0 !important;
}