<div style="display: none;padding: 0 1em 0 1em;" #root class="search-root">
    <a *ngFor="let note of noteInfo" [routerLink]="'note/' + note._id" [class]="'_id' + note._id" (click)="saveElementID(note._id)">
        <mat-card class="hover">
            <mat-card-header>
                <mat-card-title>{{note.title}}</mat-card-title>
                <div mat-card-avatar [class]="'comment-avatar _' + note.author_id"></div>
                <mat-card-subtitle>Di {{note.author_name}} • {{note.data_last_modified|
                    date:"dd/MM/YYYY"}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-chip-set class="tags">
                    <mat-chip class="tag">{{translateSubject(note.subject)}}</mat-chip>
                    <mat-chip class="tag">{{translateSchool(note.class)}}</mat-chip>
                </mat-chip-set>
                <p>{{ note.description }}</p>
            </mat-card-content>
        </mat-card>
    </a>
</div>
<mat-spinner class="spinner" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></mat-spinner>