<mat-toolbar color="primary">
    <button mat-icon-button class="back-button">
        <mat-icon class="material-symbols-rounded">arrow_back</mat-icon>
    </button>
    <span>Appunti</span>
    <span class="spacer"></span>
    <button mat-icon-button class="save-button">
        <mat-icon class="material-symbols-rounded">bookmark</mat-icon>
    </button>
    <button mat-icon-button class="sahre-button">
        <mat-icon class="material-symbols-rounded">share</mat-icon>
    </button>
    <div mat-card-avatar class="toolbar-avatar"></div>
</mat-toolbar>