<mat-toolbar color="primary">
    <button mat-icon-button class="back-button" routerLink="/">
        <mat-icon class="material-symbols-rounded">arrow_back</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button class="save-button">
        <mat-icon class="material-symbols-rounded">bookmark</mat-icon>
    </button>
    <button mat-icon-button class="share-button">
        <mat-icon class="material-symbols-rounded">share</mat-icon>
    </button>
    <button mat-icon-button class="theme-button" (click)="toggleTheme()">
        <mat-icon class="material-symbols-rounded" #themeIcon>{{getTheme()}}</mat-icon>
    </button>
    <div mat-card-avatar class="toolbar-avatar" #avatar></div>
    <div style="margin: 8px;" #buttons>
        <button mat-flat-button color="primary" style="margin-right: 8px;" routerLink="/register">{{translator.labels.register[translator.getLanguage()]}}</button>
        <button mat-stroked-button color="primary" routerLink="/login">{{translator.labels.login[translator.getLanguage()]}}</button>
    </div>
</mat-toolbar>