.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    padding: 0;
}

.toolbar-avatar {
    background-image: url('https://pics.craiyon.com/2023-09-29/e3718ae350e040279a38f806ae66dae2.webp');
    background-size: cover;
    margin-bottom: 0 !important;
    margin-left: 8px;
}