markdown::ng-deep th {
    border-collapse: collapse;
    padding: 0.5rem;
    word-wrap: break-word;
    white-space: normal;
}

markdown::ng-deep td {
    border-collapse: collapse;
    padding: 0.5rem;
    word-wrap: break-word;
    white-space: normal;
}

markdown::ng-deep table {
    border-collapse: collapse;
    padding: 0.5rem;
    white-space: nowrap;
    margin: auto;
    width: 100%;
    table-layout: fixed;
}

markdown::ng-deep img {
    display: block;
    width: min(100%, 512px);
    margin: auto;
    border-radius: 10px;
}

mat-card {
    margin-bottom: 1em;
    margin-top: 1em;
}

.comment-button {
    width: calc(100% - 16px);
    text-align: right;
}

.user-comment-avatar {
    background-image: url('../../assets/default.svg');
    background-size: cover;
    margin-right: 16px;
}

.user-subtitle-avatar {
    background-image: url('../../assets/default.svg');
    background-size: cover;
    margin-top: 4px;
}

.scroll-container {
    display: flex;
    align-items: center;
    overflow: hidden;

    &.hide-scrollbar {
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &.show-scroll {
        overflow: auto;
    }

    div {
        white-space: nowrap;
        margin: .1rem;
        padding: 1em;
        transition: box-shadow 0.3s;

        &:hover {
            cursor: pointer;
        }
    }
}

[class^="number-slide"],
[class*="number-slide"],
[class^="video-number-slide"],
[class*="video-number-slide"] {
  margin: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.navigation-wrapper {
  position: relative;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

:host ::ng-deep .mat-mdc-chip-graphic {
    padding-left: 6px !important;
}
