<div style="padding: 0 1em 0 1em; display: block;" class="noteElementRoot">
    <app-notes-header></app-notes-header>
    <div id="title">
        <h1>{{noteInfo.title}}</h1>
        <div style="display: grid; grid-template-columns: 48px 1fr;">
            <div mat-card-avatar class="user-subtitle-avatar"></div>
            <p>Di {{noteInfo.author_name}} • {{noteInfo.data_last_modified| date:"dd/MM/YYYY"}}</p>
        </div>
        <mat-chip-set class="tags">
            <mat-chip class="tag">{{noteInfo.subject}}</mat-chip>
            <mat-chip class="tag">{{noteInfo.class}}</mat-chip>
            <mat-chip class="tag" *ngFor="let tag of noteInfo.tags">{{tag}}</mat-chip>
        </mat-chip-set>
    </div>
    <mat-card>
        <mat-card-content>
            <markdown mermaid lineNumbers [mermaidOptions]="mermaidOptions" emoji katex clipboard
                [clipboardButtonComponent]="copyComponent" [data]="noteInfo.markdown" class="md">
            </markdown>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <div *ngIf="imagesPath.length > 0">
            <mat-card-content>Immagini</mat-card-content>
            <div class="scroll-container" style="overflow: auto">
                <div *ngFor="let item of imagesPath; index as i">
                    <img [src]="'https://cochome.ddns.net/content/' + noteInfo._id + '/' + item" alt="img"
                        (click)="openImageSlider(i)"
                        style="width: 128px; height: 128px; overflow: hidden; object-fit: cover; border-radius: 15px;">
                    <mat-card-subtitle style="text-align: center; max-width: 128px; overflow: hidden;">{{item.length >
                        13 ? item.slice(0, 12) + "…" : item}}</mat-card-subtitle>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <div *ngIf="videosPath.length > 0">
            <mat-card-content>Video</mat-card-content>
            <div class="scroll-container" style="overflow: auto">
                <div *ngFor="let item of videosPath; index as i">
                    <img src="assets/notes-placeholder/video.svg" alt="img" width="128" height="128"
                        (click)="openVideoSlider(i)"
                        style="overflow: hidden; object-fit: none; border-radius: 15px; background-color: #eeedf1;">
                    <mat-card-subtitle style="text-align: center; max-width: 128px; overflow: hidden;">{{item.length >
                        13 ? item.slice(0, 12) + "…" : item}}</mat-card-subtitle>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <div *ngIf="documentsPath.length > 0">
            <mat-card-content>Documenti</mat-card-content>
            <div class="scroll-container" style="overflow: auto">
                <div *ngFor="let item of documentsPath; index as i">
                    <a [href]="'https://cochome.ddns.net/content/' + noteInfo._id + '/' + item">
                        <img src="assets/notes-placeholder/file.svg" alt="img"
                            style="width: 128px; height: 128px; overflow: hidden; object-fit: none; border-radius: 15px; background-color: #eeedf1;">
                    </a>
                    <mat-card-subtitle style="text-align: center; max-width: 128px; overflow: hidden;">{{item.length >
                        13 ? item.slice(0, 12) + "…" : item}}</mat-card-subtitle>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
    <p style="text-align: center;">Valuta questo appunto</p>
    <div id="starRating" style="text-align: center;">
        <button mat-icon-button><mat-icon class="material-symbols-rounded">star</mat-icon></button>
        <button mat-icon-button><mat-icon class="material-symbols-rounded">star</mat-icon></button>
        <button mat-icon-button><mat-icon class="material-symbols-rounded">star</mat-icon></button>
        <button mat-icon-button><mat-icon class="material-symbols-rounded">star</mat-icon></button>
        <button mat-icon-button><mat-icon class="material-symbols-rounded">star</mat-icon></button>
        <h1>{{noteInfo.avg_rating}}/5</h1>
        <div id="users">
            <p><mat-icon class="material-symbols-rounded"
                    style="vertical-align: middle;">person</mat-icon>{{noteInfo.no_of_ratings}}</p>
        </div>
    </div>
    <h3>Commenti • 30.000.000</h3>
    <form action="#">
        <mat-card-header>
            <div mat-card-avatar class="user-comment-avatar"></div>
            <mat-form-field style="width: 100%;">
                <mat-label>Lascia un commento</mat-label>
                <textarea matInput placeholder="Commento..."></textarea>
            </mat-form-field><br>
        </mat-card-header>
        <div class="comment-button">
            <button mat-stroked-button color="primary">Commenta</button>
        </div>
    </form>
    <br>
    <mat-divider></mat-divider>
    <div>
        <app-comment-card *ngFor=" let x of [1, 2, 3, 4, 5, 6]"></app-comment-card>
    </div>
    <mat-divider></mat-divider>
</div>

<div class="navigation-wrapper imageSliderElementRoot" style="display: none;">
    <button mat-icon-button
        style="position: absolute; filter: invert(); z-index: 2; left: calc(100% - 64px); top: 12px;"
        (click)="closeImageSlider()"><mat-icon class="material-symbols-rounded">close</mat-icon></button>
    <div class="keen-slider keen-slider--vertical" #imageSliderRef>
        <img *ngFor="let item of imagesCompletePath; index as i" class="keen-slider__slide number-slide{{i}}"
            [src]="item" [alt]="item" style="object-fit: contain; user-select: none;"
            (load)="updateSlider(imagesCompletePath.length, i, 'image')">
    </div>
    <svg [ngClass]="
        'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')
      " (click)="imageSlider?.prev()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
    </svg>
    <svg *ngIf="imageSlider" [ngClass]="
        'arrow arrow--right ' +
        (imageSlider.track.details.slides.length - 1 === currentSlide
          ? 'arrow--disabled'
          : '')
      " (click)="imageSlider.next()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
</div>

<div class="navigation-wrapper videoSliderElementRoot" style="display: none;">
    <button mat-icon-button
        style="position: absolute; filter: invert(); z-index: 2; left: calc(100% - 64px); top: 12px;"
        (click)="closeVideoSlider()"><mat-icon class="material-symbols-rounded">close</mat-icon></button>
    <div class="keen-slider keen-slider--vertical" #videoSliderRef>
        <video *ngFor="let item of videosCompletePath; index as i" class="keen-slider__slide number-slide{{i}} video-slide"
            [src]="item" style="object-fit: contain; user-select: none;" controls
            (load)="updateSlider(imagesCompletePath.length, i, 'video')"></video>
    </div>
    <svg [ngClass]="
        'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')
      " (click)="videoSlider?.prev()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
    </svg>
    <svg *ngIf="videoSlider" [ngClass]="
        'arrow arrow--right ' +
        (videoSlider.track.details.slides.length - 1 === currentSlide
          ? 'arrow--disabled'
          : '')
      " (click)="videoSlider.next()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
</div>