markdown::ng-deep table {
    border: 1px solid rgb(36, 34, 35);
    border-collapse: collapse;
    padding: 0.5rem;
    font-size: min(2vw, 1em);
    white-space: nowrap;
}
markdown::ng-deep th {
    border: 1px solid rgb(36, 34, 35);
    border-collapse: collapse;
    padding: 0.5rem;
    font-size: min(2vw, 1em);
}
markdown::ng-deep td {
    border: 1px solid rgb(36, 34, 35);
    border-collapse: collapse;
    padding: 0.5rem;
    font-size: min(2vw, 1em);
    word-wrap: break-word;
    white-space:normal;
}

markdown::ng-deep table {
    margin: auto;
    width: 100%;
    table-layout: fixed;
}

markdown::ng-deep img {
    display: block;
    width: min(100%, 512px);
    margin: auto;
    border-radius: 15px;
}

mat-card {
    margin-bottom: 1em;
    margin-top: 1em;
}

.comment-button {
    width: 100%;
    text-align: right;
}

.user-comment-avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
    background-size: cover;
    margin-right: 16px;
}

.user-subtitle-avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    margin-top: 4px;
}