<div style="padding: 0 1em 0 1em;">
    <app-login-register-header></app-login-register-header>
    <h1 style="text-align: center; font-size: 3em;">{{translator.labels.register[translator.getLanguage()]}}</h1>
    <mat-stepper orientation="horizontal" style="margin: auto;" [linear]="true"
        [orientation]="(stepperOrientation | async)!" #stepper>
        <ng-template matStepperIcon="edit">
            <mat-icon class='material-symbols-rounded'>done</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="done">
            <mat-icon class='material-symbols-rounded'>arrow_back</mat-icon>
        </ng-template>
        <mat-step [stepControl]="usernameFormGroup">
            <form [formGroup]="usernameFormGroup" style="padding: 16px;">
                <ng-template matStepLabel>Username</ng-template>
                <mat-form-field appearance="outline" style="width: min(256px, 100%);">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" maxlength="30" (blur)="updateUsernameErrorMessage()" required #usernameRef>
                    @if (username.invalid) {
                    <mat-error>
                        <mat-icon class="material-symbols-rounded error">error</mat-icon>
                        {{usernameErrorMessage}}
                    </mat-error>
                    }
                </mat-form-field>
                <br>
                <label>{{usernameRef.value.length}}/{{usernameRef.maxLength}}</label>
                <br>
                <br>
                <a routerLink="/login">{{this.translator.labels.alreadyRegistered[this.translator.getLanguage()]}}</a>
                <br>
                <br>
                <div>
                    <button mat-flat-button matStepperNext (click)="updateUsernameErrorMessage()">
                        {{this.translator.labels.next[this.translator.getLanguage()]}}
                    </button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="birthAndGenderFormGroup">
            <form [formGroup]="birthAndGenderFormGroup" style="padding: 16px;">
                <ng-template matStepLabel>{{this.translator.labels.birthDateAndGender[this.translator.getLanguage()]}}</ng-template>
                <mat-form-field appearance="outline" style="width: min(256px, 100%);">
                    <mat-label [for]="datepicker">{{this.translator.labels.birthDate[this.translator.getLanguage()]}}</mat-label>
                    <input matInput [matDatepicker]="datepicker" readonly formControlName="birth" (blur)="updateBirthErrorMessage()" required #birthRef (click)="datepicker.open()">
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker (closed)="datepicker.restoreFocus"></mat-datepicker>
                    @if (birth.invalid) {
                    <mat-error>
                        <mat-icon class="material-symbols-rounded error">error</mat-icon>
                        {{birthErrorMessage}}
                    </mat-error>
                    }
                </mat-form-field>
                <br>
                <br>
                <mat-form-field appearance="outline" style="width: min(256px, 100%);">
                    <mat-label>{{this.translator.labels.gender[this.translator.getLanguage()]}}</mat-label>
                    <mat-select formControlName="gender" (valueChange)="setGender($event)" (blur)="updateGenderErrorMessage()" required #genderRef>
                        <mat-option value="male">{{this.translator.labels.male[this.translator.getLanguage()]}}</mat-option>
                        <mat-option value="female">{{this.translator.labels.female[this.translator.getLanguage()]}}</mat-option>
                        <mat-option value="other">{{this.translator.labels.genderNotSpecified[this.translator.getLanguage()]}}</mat-option>
                    </mat-select>
                    @if (gender.invalid) {
                    <mat-error>
                        <mat-icon class="material-symbols-rounded error">error</mat-icon>
                        {{genderErrorMessage}}
                    </mat-error>
                    }
                </mat-form-field>
                <br>
                <br>
                <div>
                    <button mat-flat-button matStepperNext (click)="updateBirthErrorMessage(); updateGenderErrorMessage()">
                        {{this.translator.labels.next[this.translator.getLanguage()]}}
                    </button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="emailAndPasswordFormGroup">
            <ng-template matStepLabel>{{this.translator.labels.emailAndPassword[this.translator.getLanguage()]}}</ng-template>
            <form [formGroup]="emailAndPasswordFormGroup" style="padding: 16px;">
                <mat-form-field appearance="outline" style="width: min(256px, 100%);">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email" (blur)="updateEmailErrorMessage()" required #emailRef>
                    @if (email.invalid) {
                    <mat-error>
                        <mat-icon class="material-symbols-rounded error">error</mat-icon>
                        {{emailErrorMessage}}
                    </mat-error>
                    }
                </mat-form-field>
                <div style="display: none;" #emailSpinner>
                    <mat-spinner [diameter]="16"></mat-spinner>
                </div>
                <br>
                <br>
                <mat-form-field appearance="outline" style="width: min(256px, 100%);">
                    <mat-label>Password</mat-label>
                    <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'"
                        (blur)="updatePasswordErrorMessage()" required #passwordRef>
                    <button mat-icon-button matSuffix (click)="hide = !hide; $event.preventDefault()" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon class="material-symbols-rounded">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (password.invalid) {
                    <mat-error>
                        <mat-icon class="material-symbols-rounded error">error</mat-icon>
                        {{passwordErrorMessage}}
                    </mat-error>
                    }
                </mat-form-field>
                <br>
                <br>
                <div>
                    <button mat-flat-button (click)="updateEmailErrorMessage(); updatePasswordErrorMessage(); checkEmail()">
                        {{this.translator.labels.next[this.translator.getLanguage()]}}
                    </button>
                </div>
            </form>
        </mat-step>
        <mat-step optional>
            <ng-template matStepLabel>{{this.translator.labels.roleSchoolSubjectBio[this.translator.getLanguage()]}}</ng-template>
            <form style="padding: 16px;">
                <mat-form-field appearance="outline" style="width: min(256px, 100%);">
                    <mat-label>{{this.translator.labels.role[this.translator.getLanguage()]}}</mat-label>
                    <mat-select #roleRef (valueChange)="setRole($event)">
                        <mat-option value="teacher">{{this.translator.labels.teacher[this.translator.getLanguage()]}}</mat-option>
                        <mat-option value="student">{{this.translator.labels.student[this.translator.getLanguage()]}}</mat-option>
                        <mat-option value="other">{{this.translator.labels.other[this.translator.getLanguage()]}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <br>
                <mat-form-field appearance="outline" style="width: min(256px, 100%);">
                    <mat-label>{{this.translator.labels.school[this.translator.getLanguage()]}}</mat-label>
                    <input matInput #schoolRef maxlength="40">
                </mat-form-field>
                <br>
                <label>{{schoolRef.value.length}}/{{schoolRef.maxLength}}</label>
                <br>
                <br>
                <mat-form-field appearance="outline" style="width: min(256px, 100%);">
                    <mat-label>{{this.translator.labels.subject[this.translator.getLanguage()]}}</mat-label>
                    <input matInput #subjectRef maxlength="40">
                </mat-form-field>
                <br>
                <label>{{subjectRef.value.length}}/{{subjectRef.maxLength}}</label>
                <br>
                <br>
                <mat-form-field appearance="outline" style="width: min(256px, 100%);">
                    <mat-label>Bio</mat-label>
                    <textarea matInput rows="5" maxlength="300" style="resize: none;"
                        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                        #bioRef></textarea>
                </mat-form-field>
                <br>
                <label>{{bioRef.value.length}}/{{bioRef.maxLength}}</label>
            </form>
            <br>
            <br>
            <div>
                <button mat-flat-button (click)="sendRegistrationData()">{{this.translator.labels.register[this.translator.getLanguage()]}}</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>