<div style="padding: 0 1em 0 1em;">
    <app-login-register-header></app-login-register-header>
    <mat-stepper orientation="horizontal" style="margin: auto;" [linear]="true"
        [orientation]="(stepperOrientation | async)!" #stepper>
        <ng-template matStepperIcon="edit">
            <mat-icon class='material-symbols-rounded'>done</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="done">
            <mat-icon class='material-symbols-rounded'>arrow_back</mat-icon>
        </ng-template>
        <mat-step [stepControl]="usernameFormGroup">
            <form [formGroup]="usernameFormGroup" style="padding: 16px;">
                <ng-template matStepLabel>Username</ng-template>
                <mat-form-field appearance="outline" style="width: 256px;">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" maxlength="30" (blur)="updateUsernameErrorMessage()" required #usernameRef>
                    @if (username.invalid) {
                    <mat-error>
                        <mat-icon class="material-symbols-rounded error">error</mat-icon>
                        {{usernameErrorMessage}}
                    </mat-error>
                    }
                </mat-form-field>
                <br>
                <label>{{usernameRef.value.length}}/{{usernameRef.maxLength}}</label>
                <br>
                <br>
                <div>
                    <button mat-flat-button matStepperNext (click)="updateUsernameErrorMessage()">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="birthAndGenderFormGroup">
            <form [formGroup]="birthAndGenderFormGroup" style="padding: 16px;">
                <ng-template matStepLabel>Data di nascita e genere</ng-template>
                <mat-form-field appearance="outline" style="width: 256px;">
                    <mat-label>Data di nascita</mat-label>
                    <input matInput [matDatepicker]="datepicker" formControlName="birth" (blur)="updateBirthErrorMessage()" required #birthRef>
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker></mat-datepicker>
                    @if (birth.invalid) {
                    <mat-error>
                        <mat-icon class="material-symbols-rounded error">error</mat-icon>
                        {{birthErrorMessage}}
                    </mat-error>
                    }
                </mat-form-field>
                <br>
                <br>
                <mat-form-field appearance="outline" style="width: 256px;">
                    <mat-label>Genere</mat-label>
                    <mat-select formControlName="gender" (valueChange)="setGender($event)" (blur)="updateGenderErrorMessage()" required #genderRef>
                        <mat-option value="male">Uomo</mat-option>
                        <mat-option value="female">Donna</mat-option>
                        <mat-option value="other">Preferisco non specificare</mat-option>
                    </mat-select>
                    @if (gender.invalid) {
                    <mat-error>
                        <mat-icon class="material-symbols-rounded error">error</mat-icon>
                        {{genderErrorMessage}}
                    </mat-error>
                    }
                </mat-form-field>
                <br>
                <br>
                <div>
                    <button mat-stroked-button matStepperPrevious style="margin-right: 8px;" (click)="updateBirthErrorMessage(); updateGenderErrorMessage()">Back</button>
                    <button mat-flat-button matStepperNext (click)="updateBirthErrorMessage(); updateGenderErrorMessage()">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="emailAndPasswordFormGroup">
            <ng-template matStepLabel>Email e password</ng-template>
            <form [formGroup]="emailAndPasswordFormGroup" style="padding: 16px;">
                <mat-form-field appearance="outline" style="width: 256px;">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email" (blur)="updateEmailErrorMessage()" required #emailRef>
                    @if (email.invalid) {
                    <mat-error>
                        <mat-icon class="material-symbols-rounded error">error</mat-icon>
                        {{emailErrorMessage}}
                    </mat-error>
                    }
                </mat-form-field>
                <div style="display: none;" #emailSpinner>
                    <mat-spinner [diameter]="16"></mat-spinner>
                </div>
                <br>
                <br>
                <mat-form-field appearance="outline" style="width: 256px;">
                    <mat-label>Password</mat-label>
                    <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'"
                        (blur)="updatePasswordErrorMessage()" required #passwordRef>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon class="material-symbols-rounded">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (password.invalid) {
                    <mat-error>
                        <mat-icon class="material-symbols-rounded error">error</mat-icon>
                        {{passwordErrorMessage}}
                    </mat-error>
                    }
                </mat-form-field>
                <br>
                <br>
                <div>
                    <button mat-stroked-button matStepperPrevious style="margin-right: 8px;" (click)="updateEmailErrorMessage(); updatePasswordErrorMessage()">Back</button>
                    <button mat-flat-button (click)="updateEmailErrorMessage(); updatePasswordErrorMessage(); checkEmail()">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step optional>
            <ng-template matStepLabel>Ruolo, scuola e descrizione</ng-template>
            <form style="padding: 16px;">
                <mat-form-field appearance="outline" style="width: 256px;">
                    <mat-label>Ruolo</mat-label>
                    <mat-select #roleRef (valueChange)="setRole($event)">
                        <mat-option value="teacher">Docente</mat-option>
                        <mat-option value="student">Studente</mat-option>
                        <mat-option value="other">Altro</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <br>
                <mat-form-field appearance="outline" style="width: 256px;">
                    <mat-label>Scuola</mat-label>
                    <input matInput #schoolRef maxlength="40">
                </mat-form-field>
                <br>
                <label>{{usernameRef.value.length}}/{{usernameRef.maxLength}}</label>
                <br>
                <br>
                <mat-form-field appearance="outline" style="width: 256px;">
                    <mat-label>Descrizione</mat-label>
                    <textarea matInput rows="5" maxlength="300" style="resize: none;"
                        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                        #descriptionRef></textarea>
                </mat-form-field>
                <br>
                <label>{{descriptionRef.value.length}}/{{descriptionRef.maxLength}}</label>
            </form>
            <br>
            <br>
            <div>
                <button mat-stroked-button matStepperPrevious style="margin-right: 8px;">Back</button>
                <button mat-flat-button (click)="sendRegistrationData()">Registrati</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>