.error {
    scale: 1.5;
    transform: translateY(1px);
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

::ng-deep .mat-vertical-stepper-header {
    pointer-events: none !important;
}